## 载入序列数据

In [2]:
import pandas as pd

In [10]:
events_df = pd.read_csv('./data/retailrocket/events.csv')
category_tree_df = pd.read_csv('./data/retailrocket/category_tree.csv')
item_properties_1_df = pd.read_csv('./data/retailrocket/item_properties_part1.csv')
item_properties_2_df = pd.read_csv('./data/retailrocket/item_properties_part2.csv')

In [11]:
item_properties_df = pd.concat([item_properties_1_df, item_properties_2_df])

In [12]:
events_df

             timestamp  visitorid event  itemid  transactionid
0        1433221332117     257597  view  355908            NaN
1        1433224214164     992329  view  248676            NaN
2        1433221999827     111016  view  318965            NaN
3        1433221955914     483717  view  253185            NaN
4        1433221337106     951259  view  367447            NaN
...                ...        ...   ...     ...            ...
2756096  1438398785939     591435  view  261427            NaN
2756097  1438399813142     762376  view  115946            NaN
2756098  1438397820527    1251746  view   78144            NaN
2756099  1438398530703    1184451  view  283392            NaN
2756100  1438400163914     199536  view  152913            NaN

[2756101 rows x 5 columns]

去除无用属性

In [13]:
events_df = events_df.drop(['event','transactionid'],axis=1)

将数据按照用户id和交互时间排序，形成动作链

In [15]:
events_df = events_df.sort_values(['visitorid', 'timestamp'])

In [16]:
events_df

             timestamp  visitorid  itemid
1361687  1442004589439          0  285930
1367212  1442004759591          0  357564
1367342  1442004917175          0   67045
830385   1439487966444          1   72028
742616   1438969904567          2  325215
...                ...        ...     ...
206556   1433972768922    1407575  121220
47311    1433343689991    1407576  356208
1762583  1431899284867    1407577  427784
1744277  1431825683288    1407578  188736
482559   1435184526978    1407579    2521

[2756101 rows x 3 columns]

In [17]:
events_df = events_df.drop('timestamp',axis=1)

In [18]:
events_df.to_csv('./data/retailrocket/seqData.csv',index=False)

In [19]:
events_df

         visitorid  itemid
1361687          0  285930
1367212          0  357564
1367342          0   67045
830385           1   72028
742616           2  325215
...            ...     ...
206556     1407575  121220
47311      1407576  356208
1762583    1407577  427784
1744277    1407578  188736
482559     1407579    2521

[2756101 rows x 2 columns]

In [20]:
users = events_df['visitorid']
users = users.value_counts()
users = users.iloc[users.values > 10].index
users = users.sort_values()
users

Int64Index([     54,      75,     155,     172,     224,     270,     351,
                420,     549,     604,
            ...
            1406881, 1406914, 1406941, 1407091, 1407169, 1407206, 1407281,
            1407340, 1407374, 1407512],
           dtype='int64', length=19582)